@mixin getRedBox ($boxSize, $backColor:red) {
    width: $boxSize;
    height: $boxSize;
    background: $backColor;
}

@mixin addHover($borderColor:gray) {
    &:hover {
        border: 1px solid $borderColor;
    }
}

@mixin getScheme($withChild) {
    width: 20px;
    height: 20px;
    background: blue;
    @if $withChild {
        .children {
            color: white;
        }
    }
}