            // @import "variable.scss";
            // @import "mixins.scss";
            // .parent {
            //     color: $color-text;
            //     .child {
            //         color: black;
            //     }
            // }
            // .box1 {
            //     background: red;
            //     &.box2 {
            //         background: gray;
            //     }
            // }
            // .parent {
            //     background: red;
            //     &.child {
            //         background: blue;
            //     }
            // }
            // .box {
            //     width: $widthBlock;
            //     height: 100px;
            //     background: green;
            //     &-blue {
            //         background: blue;
            //     }
            // }
            // .box-100 {
            //     @include getRedBox(100px);
            //     @include addHover();
            // }
            // .box-200 {
            //     @include getRedBox(200px, green);
            //     @include addHover(red);
            // }
            // .grandFather {
            //     font-size: 15px;
            //     line-height: 40px;
            //     letter-spacing: 3px;
            // }
            // .grandSon {
            //     @extend .grandFather;
            //     font-size: 30px;
            // }
            // .sector {
            //     height: $widthBlock+$heightBlock;
            //     width: $widthBlock+$heightBlock;
            //     background: pink;
            // }
            // @for $i from 10 through 70 {
            //     @if $i %2==0 {
            //         .fontX#{$i} {
            //             font-size: $i+px;
            //         }
            //     }
            //     // .fontX#{$i} {
            //     //     font-size: $i + px;
            //     // }
            // }
            // .test1 {
            //     @include getScheme(false);
            // }
            // .test2 {
            //     @include getScheme(true);
            // }
            // .test {
            //     @media (max-width: 768px) {
            //         color: green;
            //     }
            // }